<!-- app.component.html -->

<div class="container">
  <div class="row">
      <div class="col-md-8 offset-md-2">
          <h1 class="text-center">YouTube Video Stats</h1>
          <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="videoUrl" placeholder="Paste YouTube URL">
          </div>
          <button class="btn btn-primary" (click)="searchVideo()">Search</button>
          <div>
            <div style="display: block;width: 30pc;height: 30pc;">
              <canvas baseChart
                      [datasets]="barChartData"
                      [labels]="mbarChartLabels"
                      [options]="barChartOptions"
                      [legend]="barChartLegend"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
            </div>
      </div>
  </div>
</div>
